@import './variables.css';

* {
  box-sizing: border-box;
}

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: var(--font-family);
  color: var(--color-text-regular);
  background-color: var(--color-bg-page);
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

button {
  font-family: inherit;
}
